# Python
**/__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Project specific
output/
*.generated.xml
